<div class="row text-white">
<div class="col-md-6 offset-3 alert alert-success text-success">
    <h2>Form Submitted Successfully</h2>
    <p>Your PermIt to work form has been submitted for further approval</p>
    <p>NOTE: Review And Approval takes Three(3) working days. The status will be communicated to you via Email</p>

    <hr />
    <p>Thank You</p>
</div>
<</div>