
<div class="row text-white">
<div class="col-md-6 offset-3 alert alert-success text-success">
    <h2>Sorry we cannot approve your Permit To work request</h2>
    <p>please call (234)768430734 for more details</p>
    <hr />
    <p>Thank You</p>
</div>
</div>