@model SiteCheck
<div class="row text-white">
<div class="col-md-6 offset-3 alert alert-success text-success">
    <h2>Form sent successfully to the client </h2>
    <hr />
    <p>Thank You</p>
</div>
</div>